# PATH Run-time configuration file
#
# Section A: Normal user configuration section
# Section B: Used defined mode configuration section
# Section C: For advanced user, normal user should not edit this section
# Section D: System related configuration section
################################################################################
# Section A: Normal user configuration section.
#
# The path_run should be invoked from go_camx script
# 
PATH_ROOTDIR=`/bin/pwd`
PATH_DATADIR=$PATH_ROOTDIR/data

RUN_MODE=0

# PATH run mode:
# 0: User defined mode for advanced user

# After complete of path_run, send alert email to the address(es) as below.
# If it is empty, no email will be sent.
PATH_ALERT_MAILTO="huangyeq@mail2.sysu.edu.cn"
#
################################################################################
# Section B: Used defined mode configuration section
#            Edit this section only if RUN_MODE is defined as 0 in Section A.
#
DO_MM5=0
DO_WRF=0
DO_MCIP=0
DO_Met2CAMx=0
DO_SMOKE=1
DO_CMAQ=0
DO_CAMX=0
DO_NAQPMS=0

# This variable defines if PATH is run as Forecast or Project mode. If it is set 1, 
# it is Forecast mode, otherwise it is Project mode.
FC_MODE=1

# If DO_MCIP, DO_Met2CAMx or DO_SMOKE is set to 1, this variable indicates the Met
# input data type. If the input data are MM5, set this to "mm5". If it is WRF, 
# set it to "wrf".
#MetDataUsed=mm5
MetDataUsed=wrf

# If DO_SMOKE is set to 1, the following two variables determine if the SMOKE
# output data are generated for CMAQ and/or CAMx. At least one variable must 
# be set to 1.
SMOKE4CMAQ=0
SMOKE4CAMX=1

# If $DO_CMAQ or $DO_CAMX is set to 1, $CTM_COLD_START defines whether to 'Cold Start'
# in the first day of 3-day simulation. If $CTM_COLD_START is set to 0, CMAQ/CAMx will 
# search for day0 output data from $DATA_CMAQ_OUTPUT/$DATA_CAMX_OUTPUT. If found, the 
# day0 output data are moved to CMAQ/CAMx run-time directory for day1 simulation. 
# If $CTM_COLD_START is set to 1, or day0 output data cannot be found, the day1 
# simulation is set to cold start mode.
CTM_COLD_START=1

# If DO_CMAQ or DO_CAMX is set to 1, this variable determines if CMAQ/CAMx 
# uses SMOKE output data or pre-generated emission data. If it is set to 1
# SMOKE output data is used.
CTM_USE_SMOKE=1
################################################################################
# Section C: For advanced user, normal user should not edit this section
#
export PATH_ALERT_MSG="PATH terminates with error"
export PATH_SYSDIR="/home/pathsys"
export PATH_ALERT_MAILTO
export PATH_ROOTDIR
export PATH_DATADIR

DO_Met2CAMx_data=$MetDataUsed
DO_MCIP_data=$MetDataUsed
DO_SMOKE_data=$MetDataUsed

export MM5_DIR=$PATH_ROOTDIR/mm5
export WRF_DIR=$PATH_ROOTDIR/wrf
export MCIP_DIR=$PATH_ROOTDIR/mcip
export Met2CAMx_DIR=$PATH_ROOTDIR/met2camx
export SMOKE_DIR=$PATH_ROOTDIR/smoke
export CMAQ_DIR=$PATH_ROOTDIR/cmaq
export CAMX_DIR=$PATH_ROOTDIR/camx
export NAQPMS_DIR=$PATH_ROOTDIR/naqpms

export DATA_MM5_OUTPUT=$PATH_DATADIR/mm5
export DATA_WRF_OUTPUT=$PATH_DATADIR/wrf
export DATA_MCIP_OUTPUT=$PATH_DATADIR/mcip
export DATA_M2CX_OUTPUT=$PATH_DATADIR/met2camx
export DATA_SMOKE_OUTPUT=$PATH_DATADIR/smoke
export DATA_CMAQ_OUTPUT=$PATH_DATADIR/cmaq
export DATA_CAMX_OUTPUT=$PATH_DATADIR/camx
export DATA_NAQPMS_OUTPUT=$PATH_DATADIR/naqpms

if [ "$MetDataUsed" = "mm5" ]; then
  DATA_MET_INPUT=$DATA_MM5_OUTPUT
elif [ "$MetDataUsed" = "wrf" ]; then
  DATA_MET_INPUT=$DATA_WRF_OUTPUT
else
  $ECHO "Invalid MetDataUsed = $MetDataUsed" >> $MAINLOG
  $PATH_SYSDIR/bin/email_alert
  exit 1
fi

$ECHO "PATH run in user defined mode"

export FC_MODE
export DATA_MET_INPUT
export CTM_COLD_START
export CTM_USE_SMOKE
export SMOKE4CMAQ
export SMOKE4CAMX

export G_DOMAINS_RES_gov="27 9 3"

if [ $FC_MODE -eq 0 ]; then
  export MET_SIM_N_DAYS=4
  export CTM_SIM_N_DAYS=3
  export CTM_SKIP_N_DAYS=1
elif [ $FC_MODE -eq 1 ]; then
  export MET_SIM_N_DAYS=3
  export CTM_SIM_N_DAYS=2
  # If FC_MODE == 1 and CTM_SKIP_N_DAYS > 0, CTM_CLEAN_OUTPUT should be set to 0.
  #export CTM_SKIP_N_DAYS=%CTM_SKIP_N_DAYS%
   export CTM_SKIP_N_DAYS=1
else
  $ECHO "Invalid FC_MODE=$FC_MODE defined" >> $MAINLOG
  $PATH_SYSDIR/bin/email_alert
  exit 1
fi

let "CTM_SKIP_N_HRS = CTM_SKIP_N_DAYS * 24"
export CTM_SKIP_N_HRS

# To clean up the CAMx/CMAQ data before the run
#export CTM_CLEAN_OUTPUT=%CTM_CLEAN_OUTPUT%
export CTM_CLEAN_OUTPUT=0
# To save the CAMx/CMAQ outputs directory after the run is successful
export CTM_SAVE_OUTPUT=1
# Real-time copy MET data output to $PATH_DATADIR/mm5 or $PATH_DATADIR/wrf
export MET_REALTIME_COPY_OUTPUT=0

{
$ECHO PATH_ROOTDIR=$PATH_ROOTDIR
$ECHO PATH_DATADIR=$PATH_DATADIR
$ECHO RUN_MODE=$RUN_MODE
$ECHO FC_MODE=$FC_MODE
$ECHO DO_MM5=$DO_MM5
$ECHO DO_WRF=$DO_WRF
$ECHO DO_MCIP=$DO_MCIP
$ECHO DO_Met2CAMx=$DO_Met2CAMx
$ECHO DO_SMOKE=$DO_SMOKE
$ECHO DO_CMAQ=$DO_CMAQ
$ECHO DO_CAMX=$DO_CAMX
$ECHO DATA_MET_INPUT=$DATA_MET_INPUT
$ECHO DO_MCIP_data=$DO_MCIP_data
$ECHO DO_Met2CAMx_data=$DO_Met2CAMx_data
$ECHO CTM_USE_SMOKE=$CTM_USE_SMOKE
$ECHO CTM_COLD_START=$CTM_COLD_START
$ECHO SMOKE4CMAQ=$SMOKE4CMAQ
$ECHO SMOKE4CAMX=$SMOKE4CAMX
$ECHO DO_SMOKE_data=$DO_SMOKE_data
$ECHO MET_SIM_N_DAYS=$MET_SIM_N_DAYS
$ECHO CTM_SIM_N_DAYS=$CTM_SIM_N_DAYS
$ECHO CTM_SKIP_N_DAYS=$CTM_SKIP_N_DAYS
$ECHO CTM_SKIP_N_HRS=$CTM_SKIP_N_HRS
$ECHO CTM_CLEAN_OUTPUT=$CTM_CLEAN_OUTPUT
$ECHO CTM_SAVE_OUTPUT=$CTM_SAVE_OUTPUT
$ECHO MET_REALTIME_COPY_OUTPUT=$MET_REALTIME_COPY_OUTPUT
}

################################################################################
# Section D: System related configuration section
#
# CentOS6
PATH_PGIROOT=/usr/local/pgi-13cos6
export PATH_PGI32=$PATH_PGIROOT/linux86/2013
export PATH_PGI64=$PATH_PGIROOT/linux86-64/2013
export PATH_MPI32=
export PATH_MPI64=$PATH_PGIROOT/linux86-64/2013/mpi2/mpich
#
# CentOS7
#PATH_PGIROOT=/usr/local/pgi-15cos7
#export PATH_PGI32=$PATH_PGIROOT/linux86/2015
#export PATH_PGI64=$PATH_PGIROOT/linux86-64/2015
#export PATH_MPI32=
#export PATH_MPI64=$PATH_PGIROOT/linux86-64/2015/mpi/mpich
###########################################################
###########################################################
export LM_LICENSE_FILE=/usr/local/pgi/license.dat
export MPIHostFile=${PATH_ROOTDIR}/mpihosts-`/bin/hostname -s`
#
# Do not stop MPD after PATH run, no longer useful
export START_MPD=0
export STOP_MPD=0
################################################################################
