#!/bin/sh

# GFS data 1 or 0.25 degress?
#export GFSData="fnl_grib1"
#export GFSData="fnl_grib2"
#export GFSData="gfs1p00"
export GFSData="gfs0p25"

export work_root=`pwd`
export WPS_root=${work_root}/WPS
export WRF_root=${work_root}/met_WRFV3/test/em_real
export NPS_root=${work_root}/NPS
export obs_root=${work_root}/EPDdata
export archive_root=${work_root}/outputs
export geog_data_root=${work_root}/WPS_GEOG
export GTS_root=${work_root}/gts_decoder
export TCbogus_root=${work_root}/TC_BOGUS

export PGI_ROOT=$PATH_PGI64
export MPICH=$PATH_MPI64
#export NETCDF=$PATH_SYSDIR/Utils/netcdf
#export NCARG_ROOT=$PATH_SYSDIR/Utils/ncarg
#export NCARG_BIN=${NCARG_ROOT}/bin
#export NCARG_INCLUDE=${NCARG_ROOT}/include
#export NCARG_LIB=${NCARG_ROOT}/lib
export LD_LIBRARY_PATH=$PATH_PGI64/lib:$MPICH/lib
export USE_MPIconfigfile=0

# For UK windfarm project
#export WRF_CSH=./wrf.csh-windfarm

#export PATH=$PGI_ROOT/bin:${MPICH}/bin:${NCARG_BIN}:${NETCDF}:/usr/bin:/bin:.
export PATH=$PGI_ROOT/bin:${MPICH}/bin:/usr/bin:/bin:.




