#!/bin/sh

export PGI_ROOT=$PATH_PGI64
export MPICH=$PATH_MPI64
#export NETCDF=$PATH_SYSDIR/Utils/netcdf
#export NCARG_ROOT=$PATH_SYSDIR/Utils/ncarg
#export NCARG_BIN=${NCARG_ROOT}/bin
#export NCARG_INCLUDE=${NCARG_ROOT}/include
#export NCARG_LIB=${NCARG_ROOT}/lib
export LD_LIBRARY_PATH=$PATH_PGI64/lib:$MPICH/lib
export USE_MPIconfigfile=0

# For UK windfarm project
#export WRF_CSH=./wrf.csh-windfarm

#export PATH=$PGI_ROOT/bin:${MPICH}/bin:${NCARG_BIN}:${NETCDF}:/usr/bin:/bin:.
export PATH=$PGI_ROOT/bin:${MPICH}/bin:/usr/bin:/bin:.
#
export DOMAINS="d01 d02 d03 d04"

# For 3 domains forecast
#export DOMAINS="d01 d02 d03"

export MET_SIM_N_DOMAINS=4

# GFS data 1 or 0.25 degress?
#export GFSData="fnl_grib1"
#export GFSData="fnl_grib2"
#export GFSData="gfs1p00"
export GFSData="gfs0p25"
