#!/bin/csh -f
########################################################################
# Domains definition file, include:      
# 
# Section DOMAIN RESOLUTION &
#         MAP INFORMATION &
#         METEOROLOGY MODEL SYSTEM (WRF) &
#         AIR QUALITY MODEL SYSTEM (MCIP, MET2CAMX, SMOKE, CMAQ, CAMX)
#
# Notes: 1. If you are going to change the nestings of the model run, 
#           you may only change the Section "DOMAIN RESOLUTION" (except 
#           SMOKE which is not finished for now).
#           Especially, WRF nestings should be changed through nesting 
#           numbers, while other components through resolution.
#        2. The informations of section "METEOROLOGY MODEL SYSTEM" 
#           should be maintained in 4 nestings in present versoin.
#########################################################################

#####################################################################
#                      DOMAIN RESOLUTION                            #
#####################################################################
set SIM_DOMAINS_WRF = 4
set G_DOMAINS_RES_MCIP = (27 9 3 1)
set G_DOMAINS_RES_MET2CAMX = (27 9 3 1)
#set G_DOMAINS_RES_SMOKE = (27 9 3 1)
set G_DOMAINS_RES_CMAQ = (27 9 3)
set G_DOMAINS_RES_CAMX = (27 9 3)

#####################################################################
#                         MAP INFORMATION                           #
#####################################################################
set MAP_PROJECTION = "LAMBERT"
setenv LAMBERT_CEN_LON 114
setenv LAMBERT_CEN_LAT 28.5
setenv LAMBERT_TRUE_LAT1 15
setenv LAMBERT_TRUE_LAT2 40
setenv LAMBERT_CEN_MERDIAN 114
setenv POLAR_LON_POLE 114
setenv POLAR_LAT_POLE 28.5

#####################################################################
#                   METEOROLOGY MODEL SYSTEM                        #
#####################################################################
set G_DOMAINS_RES_WRF = (27 9 3 1)
set LAYERS_NUM_MMS = 39
set GRID_RATIO_MMS_Dx = (1 3 3 3)

set COL_CUT_MMS_Dx = (1 116 43 67)
set ROW_CUT_MMS_Dx = (1 45 55 22)
set NCOLS_MMS_Dx = (283 223 172 214)
set NROWS_MMS_Dx = (184 163 130 163)

#####################################################################
#                   AIR QUALITY MODEL SYSTEM                         #
#####################################################################
setenv PBLfix  #Used by MCIP
setenv SrcVer "v3.4pbl" #Used by MET2CAMX

setenv DAY1FIXED 0
#setenv DAY1FIXED 1

set LAYERS_NUM_AQMS = 26
set NCOLS_AQMS_Dx = (182 98 152 179)
set NROWS_AQMS_Dx = (138 74 110 125)
set COL_CUT_AQMS_Dx = (52 20 11 23)
set ROW_CUT_AQMS_Dx = (22 35 14 29)
set XCRO_AQMS_Dx = (-2403. -522. -291. -103.)
set YCRO_AQMS_Dx = (-1876.5 -967.5 -754.5 -704.5)
set XDOT_AQMS_Dx = (-1876.5 -526.5 -292.5 -103.5)
set YDOT_AQMS_Dx = (-1890. -972. -756. -705)

#Note: The first domain is default and replaced by 0.
set IWEST_AQMS_Dx = (0 71 27 64)
set IEAST_AQMS_Dx = (0 102 76 122)
set JSOUTH_AQMS_Dx = (0 35 25 18)
set JNORTH_AQMS_Dx = (0 58 60 58)

